<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EAM</display-name>
  <welcome-file-list>
    <welcome-file>InterFace/login/login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.heu.eam.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.heu.eam.listener.DBConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.heu.eam.filter.SessionCounter</listener-class>
  </listener>
  <session-config>
      <session-timeout>180</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.heu.eam.action.BaseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/base</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>IrpAction</display-name>
    <servlet-name>IrpAction</servlet-name>
    <servlet-class>com.heu.eam.action.IrpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IrpAction</servlet-name>
    <url-pattern>/IrpAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>roleToIrpAction</servlet-name>
    <servlet-class>com.heu.eam.action.RoleToIrpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roleToIrpAction</servlet-name>
    <url-pattern>/roleToIrpAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>com.heu.eam.action.IndexAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UploadExcel</display-name>
    <servlet-name>UploadExcel</servlet-name>
    <servlet-class>com.heu.eam.action.UploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadExcel</servlet-name>
    <url-pattern>/UploadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaceloginAction</servlet-name>
    <servlet-class>com.heu.eam.action.FaceloginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceloginAction</servlet-name>
    <url-pattern>/FaceloginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleAction</servlet-name>
    <servlet-class>com.heu.eam.action.RoleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleAction</servlet-name>
    <url-pattern>/RoleAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProviderAction</servlet-name>
    <servlet-class>com.heu.eam.action.ProviderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProviderAction</servlet-name>
    <url-pattern>/providerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeptAction</servlet-name>
    <servlet-class>com.heu.eam.action.DeptAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptAction</servlet-name>
    <url-pattern>/DeptAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonToRoleAction</servlet-name>
    <servlet-class>com.heu.eam.action.PersonToRoleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonToRoleAction</servlet-name>
    <url-pattern>/PersonToRoleAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlanAction</servlet-name>
    <servlet-class>com.heu.eam.action.PlanAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanAction</servlet-name>
    <url-pattern>/PlanAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestAction</servlet-name>
    <servlet-class>com.heu.eam.action.TestAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestAction</servlet-name>
    <url-pattern>/TestAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuAction</display-name>
    <servlet-name>MenuAction</servlet-name>
    <servlet-class>com.heu.eam.action.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuAction</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaceAction</servlet-name>
    <servlet-class>com.heu.eam.action.PlaceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceAction</servlet-name>
    <url-pattern>/PlaceAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemAction</servlet-name>
    <servlet-class>com.heu.eam.action.ItemAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemAction</servlet-name>
    <url-pattern>/ItemAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonAction</servlet-name>
    <servlet-class>com.heu.eam.action.PersonAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonAction</servlet-name>
    <url-pattern>/PersonAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upIdAction</servlet-name>
    <servlet-class>com.heu.eam.action.upIdAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upIdAction</servlet-name>
    <url-pattern>/upIdAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonAction1</servlet-name>
    <servlet-class>com.heu.eam.action.PersonAction1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonAction1</servlet-name>
    <url-pattern>/PersonAction1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypeToattrAction</servlet-name>
    <servlet-class>com.heu.eam.action.TypeToattrAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeToattrAction</servlet-name>
    <url-pattern>/TypeToattrAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypeAction</servlet-name>
    <servlet-class>com.heu.eam.action.TypeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeAction</servlet-name>
    <url-pattern>/typeAction</url-pattern>
  </servlet-mapping>
</web-app>